DATABASE_URL="postgresql://<user>:<password>@<endpoint>-pooler.neon.tech/hergla_park?sslmode=require"
DIRECT_URL="postgresql://<user>:<password>@<endpoint>.neon.tech/hergla_park?sslmode=require"
PORT=5000
JWT_SECRET=change_me_to_a_secure_random_string_12345
JWT_EXPIRES_IN=7d
